<h2 class="title"><br><br><center>S3 Buckets</center></h2>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Region</th>
        <th>Owner</th>
        <th>Versioning</th>
        <th>Creation</th>
      </tr>
    </thead>
    <tbody>
<% buckets.each do |bucket| %>
<tr>
<td><%= bucket['name'] %></td>
<% if bucket['size'] < 0 %>
<td>Unknown</td>
<% else %>
<td><%= (bucket['size']/1000000000).round(2) %> Gb</td>
<% end %>
<td><%= bucket['region']%></td>
<td><%= bucket['owner'] %></td>
<td>
  <% if bucket['versioning'] == "true" %>
    <i class="fa fa-check-circle" aria-hidden="true"></i>
  <% elsif bucket['versioning'] == "false" %>
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  <% end %>
</td>
<td><%= bucket['creation'] %></td>
</tr>
<% end %>
    </tbody>
  </table>
</div>
